<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{csrfToken}}">
    <link rel="stylesheet" href="/{{get assets 'app.css'}}">
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper">
        <h1 class="site-header__heading">
          <a href="/">Will Hastings</a>
        </h1>
        <nav class="site-header__nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {{{body}}}

    <footer class="site-footer">
      &copy; 2015 Will Hastings
    </footer>

    {{#if data}}
      <script type="text/json" id="init-data">{{{data}}}</script>
    {{/if}}

    {{#if isDev}}
      <script src="//localhost:35729/livereload.js"></script>
    {{/if}}

    <script src="/{{get assets 'vendor.js'}}"></script>
    <script src="/{{get assets 'app.js'}}"></script>
  </body>
</html>
